<!DOCTYPE html>
<html>
    <head>
        <%- include("includes/head"); %>
    </head>

    <body>
        <%- include("includes/nav"); %>
        <div class="container">
            <h2>Wow</h2>
        </div>
    </body>
</html>